<template>
  <contact-form/>
</template>

<script>
  import ContactForm from './ContactForm'

  export default {
    name: 'Contact',
    components: { ContactForm },
    head: {
      title: {inner: 'Contact'}
    }
  }
</script>

<style scoped lang="scss">

</style>
