<template>
  <div class="contact">
    <div class="row">
      <div class="main-text col-lg-4">
        <h1>Contact</h1>
        <h4>us and let's work together</h4>
        <div class="social">
          <a href="mailto:hello@epicmax.co" class="social-link" target="_blank">
            hello@epicmax.co
          </a>
        </div>
      </div>
      <form v-form="setForm" class="form col-lg-8" @submit.prevent>
        <input name="email"
               placeholder="Your email"
               v-validate="!isFormSubmitted ? 'required|email' : ''"
               @keyup.ctrl.enter="submitForm">
        <div class="mt-1 text-error">
          <div v-show="errors.has('email')">
            <span class="fa fa-warning mr-2"></span>
            {{errors.first('email')}}
          </div>
        </div>
        <textarea name="message"
                  placeholder="Message"
                  v-validate="!isFormSubmitted ? 'required' : ''"
                  @keyup.ctrl.enter="submitForm"></textarea>
        <div class="mt-1 text-error">
          <div v-show="errors.has('message')">
            <span class="fa fa-warning mr-2"></span>
            {{errors.first('message')}}
          </div>
        </div>
        <div class="oblique oblique-blue d-flex">
          <div class="oblique-container send-message-btn"
               :class="{'green-button': isFormSubmitted}"
               @click="submitForm">
            <div class="oblique-text">
              <span class="font-main">{{submitButtonName}}</span>
            </div>
          </div>
          <div v-if="serverError" class="ml-4 server-error text-error">
            {{serverError}}
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ContactForm',
  directives: {
    form: {
      inserted (el, binding) {
        binding.value(el)
      }
    }
  },
  props: {
    isFormSubmitted: Boolean
  },
  computed: {
    submitButtonName () {
      return this.isFormSubmitted ? 'Message Sent' : 'Send Message'
    }
  },
  data () {
    return {
      form: null,
      serverError: null
    }
  },
  methods: {
    setForm (form) {
      this.form = form
    },
    async submitForm () {
      if (!this.isFormSubmitted && await this.$validator.validateAll()) {
        axios.post('https://formspree.io/hello@epicmax.co', {
          email: this.form.email.value,
          message: this.form.message.value
        })
          .then(() => this.$router.push({ name: 'ThankYou', params: { isFormSubmitted: true } }))
          .catch(err => (this.serverError = err))
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .contact {
    padding-top: 4em;
    display: flex;
    width: 100%;
    height: 100vh;

    .row {
      margin: 0;
      width: 100%;
      height: 100%;
    }

    .main-text {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 5%;
      @include media-breakpoint-down(md) {
        align-items: center;
      }
    }

    .social {
      .social-link {
        color: #80d3f9;
        font-size: 1.125em;
        text-decoration: none;
        text-transform: none;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 2em;
      @include media-breakpoint-up(lg) {
        padding-right: 10%;
      }

      input, textarea {
        font-size: 1.125em;
        padding: 11px 0 15px 15px;
        background-color: rgba(177, 223, 241, 0.2);
        color: white;
        height: 3em;
        border: none;

        &::placeholder {
          color: rgba(255, 255, 255, .5);
        }
      }

      textarea {
        margin-top: .5em;
        height: 50%;
        @include media-breakpoint-down(md) {
          height: 100%;
        }
      }

      .oblique-blue {
        justify-self: right;
        margin-top: .75em;

        .send-message-btn {
          &:hover {
            cursor: pointer;
          }

          &.green-button {
            background-color: #56c489;
            color: #ffffff;
            cursor: default;
          }
        }

        .server-error {
          display: flex;
          align-items: center;
          text-transform: none;
        }
      }

      .text-error {
        height: 1.5rem;
      }
    }
  }

  .has-error {
    background-color: rgba(#ff9191, .2) !important;
  }

  .has-error, .has-error::placeholder, .text-error {
    color: #ff0000 !important;
  }
</style>
