<template>
  <contact-form :is-form-submitted="true"/>
</template>

<script>
import ContactForm from './ContactForm'

export default {
  name: 'ThankYou',
  components: { ContactForm },
  head: {
    title: { inner: 'Thank You' }
  }
}
</script>

<style scoped>

</style>
