<template>
  <div class="about">
    <div class="row">
      <div class="main-text-container col-lg-4">
        <div class="main-text">
          <h1 class="main-text__">About</h1>
          <h4>Small team, big results</h4>
          <div class="social">
            <a href="https://github.com/epicmaxco" class="social-link" target="_blank">
              <img class="image" src="/static/github.svg">
            </a>
            <a href="https://www.facebook.com/epicmaxco" class="social-link" target="_blank">
              <img class="image" src="/static/facebook.svg">
            </a>
            <a href="https://twitter.com/epicmaxco" class="social-link" target="_blank">
              <img class="image" src="/static/twitter.svg">
            </a>
            <a href="https://medium.com/epicmaxco" class="social-link" target="_blank">
              <img class="image" src="/static/medium.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="about-container col-lg-8">
        <div class="expertise">
          <p class="font-description">
            Epicmax is a team of talented people ready to care about your product. We love coding. We love beautiful design.
            We love doing our job better than possible. Every product we craft is a challenge we are excited about.
          </p>
        </div>
        <div class="skills">
          <h2 class="header">Experience & skills</h2>
          <div class="skill">
            <img class="image" src="/static/frontend-development.svg">
            <div class="text">
              <span class="font-main-bold">Frontend Development</span>
              <div class="font-description">
                We build nice-looking, smooth and maintainable apps. Vue.js is the framework of our choice.
              </div>
            </div>
          </div>
          <div class="skill">
            <img class="image" src="/static/uxui-design.svg">
            <div class="text">
              <span class="font-main-bold">UX/UI Design</span>
              <div class="font-description">
                We love when our work looks and feels incredible. Our goal is to make your product breathtaking
                and easy to grasp.
              </div>
            </div>
          </div>
          <div class="skill">
            <img class="image" src="/static/icon-mobile.svg">
            <div class="text">
              <span class="font-main-bold">Mobile Development</span>
              <div class="font-description">
                We create cross-platform hybrid apps to make your idea available on mobiles.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="awards-container col-lg-8 offset-lg-4">
        <div class="awards row">
          <div class="award col-xl-3 col-sm-4 col-6">
            <a
              href="https://github.com/epicmaxco"
              target="_blank"
              class="award-rectangle">
            </a>
            <div class="award-content">
              <img class="award-content__image" src="/static/7000-stars.svg"/>
              <div class="award-content__text">Github Stars</div>
            </div>
          </div>
          <div class="award col-xl-3 col-sm-4 col-6">
            <a
              href="http://git-awards.com/users/search?login=epicmaxco"
              target="_blank"
              class="award-rectangle">

            </a>
            <div class="award-content">
              <img class="award-content__image" src="/static/gitawards.svg"/>
              <div class="award-content__text">#11 Vue Dev Worldwide</div>
            </div>
          </div>
          <div class="award col-xl-3 col-sm-4 col-6">
            <a
              href="https://clutch.co/profile/epicmax"
              target="_blank"
              class="award-rectangle">
            </a>
            <div class="award-content">
              <div class="award-image-wrapper">
                <img class="award-content__image" src="/static/clutch.svg"/>
                <span class="award-content__text award-content__text--specific">4 Reviews</span>
              </div>
            </div>
          </div>
          <div class="award col-xl-3 col-sm-4 col-6">
            <a
              href="http://park.by/it/enterprise-564/type-full/?lng=en"
              target="_blank"
              class="award-rectangle">
            </a>
            <div class="award-content">
              <img class="award-content__image award-content__image--htp" src="/static/htp.svg">
              <div class="award-content__text">Resident</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'about',
    head: {
      title: {inner: 'About'}
    }
  }
</script>

<style lang="scss" scoped>
  $team-img-height: 422px;
  $team-img-width: 507px;

  .about {
    width: 100%;
    padding-top: 5em;
    display: flex;
    justify-content: stretch;
    .row {
      margin: 0;
      width: 100%;
    }
    .main-text {
      padding-left: 5%;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @include media-breakpoint-up(lg) {
        position: fixed;
        top: 40%;
      }

      @include media-breakpoint-down(md) {
        padding-left: 5%;
        align-items: center;
      }
      .h4 {
        margin-bottom: 24px;
      }
    }

    .social {
      .social-link {
        color: #80d3f9;
        font-size: 2em;
        margin-right: .5em;
        text-decoration: none;
      }
    }

    .awards-container {
      padding-right: 4em;

      @include media-breakpoint-down(md) {
        padding-right: 5%;
        padding-left: 7%;
      }

      @include media-breakpoint-down(xs) {
        padding-left: 9%;
      }
    }

    .awards {
      display: flex;
      justify-content: space-around;

      .award {
        position: relative;
        padding: 0;
        cursor: pointer;

        &-rectangle {
          display: block;
          height: 6.75em;
          margin-right: 20px;
          margin-bottom: 20px;
          background-color: #1f205d;
          transform: skew(-20deg);
        }

        &-image-wrapper {
          position: relative;
        }

        &-content {
          position: absolute;
          top: 1.75em;
          left: 1.5em;

          &__image {
            width: 7em;

            &--htp {
              width: 5em;
            }
          }

          &__text {
            font-size: 0.75em;
            line-height: 2.45;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-align: center;

            &--specific {
              position: absolute;
              bottom: -0.5em;
              right: 1em;
            }
          }
        }
      }
    }

    .about-container {
      padding-right: 14em;
      @include media-breakpoint-down(md) {
        padding: 5%;
      }
      .header {
        margin-bottom: 1em;
        text-transform: uppercase;
      }
      .expertise {
        margin-bottom: 64px;
        margin-top: 109px;

        @include media-breakpoint-down(md) {
          margin-top: 10px;
          margin-bottom: 20px;

          .team-image-container {
            text-align: center;
          }

          .team-image {
            display: inline-block;
          }
        }

        .team-image {
          width: $team-img-width;
          height: $team-img-height;
          margin-bottom: 25px;

          @include media-breakpoint-up(xl) {
            width: $team-img-width * 1.3;
            height: $team-img-height * 1.3;
          }

          @include media-breakpoint-down(xs) {
            width: $team-img-width * 0.6;
            height: $team-img-height * 0.6;
          }
        }
      }
      .skills {
        padding-bottom: 4em;
        .skill {
          display: flex;
          align-items: flex-start;
          margin-top: 2.5em;
          .image {
            width: 5em;
            padding-right: 1em;
          }
          .text {

          }
        }
      }
    }
  }
</style>
