<template>
  <div class="homepage-sourcerer">
    <div class="background-image"></div>
    <div class="left-part">
      <div class="main-text">
        <h1>Sourcerer</h1>
        <div class="description">
          <h4>Visual profile for software engineers</h4>
        </div>
      </div>
      <a href="https://sourcerer.io/" target="_blank" class="oblique oblique-blue about-link">
        <div class="oblique-container">
          <div class="oblique-text">
            <span class="font-main" style="color: #3bd8d4;">View Live</span>
          </div>
        </div>
      </a>
      <p class="font-description description" style="text-transform: none">
        <span class="blockquote">“</span>
        Epicmax has quickly become an indispensable and natural extension of our core team at Sourcerer.
        Working on the UX for engineering profiles, they stepped in wherever needed and provided excellent execution every time.
        We quickly forgot they were a remote team, and grew to fully rely on them.”
      </p>
      <p class="font-main-bold" style="text-transform: none">Sergey Surkov, CEO of Sourcerer</p>
    </div>
    <img class="image d-none d-lg-block" src="/static/home-sourcerer.png">
    <img class="mobile-image d-block d-lg-none" src="/static/home-sourcerer.png">
    <img class="home-number d-none d-lg-block" src="/static/04.png">
  </div>
</template>

<script>
export default {
  name: 'home-sourcerer'
}
</script>

<style lang="scss">
.homepage-sourcerer {
  .description {
    max-width: 600px;
    @include media-breakpoint-down(sm) {
      max-width: 120px;
    }
  }

  @include media-breakpoint-down(md) {
    height: 800px !important;
    .mobile-image {
      object-fit: scale-down;
      height: 70%;
      width: 300px;
      bottom: 140px;
      right: -10% !important;
    }
  }

  @include media-breakpoint-down(sm) {
    .mobile-image {
      object-fit: scale-down;
      height: 60%;
      width: 200px;
    }
  }

  .background-image {
    background-image: linear-gradient(121deg, #1b4d68, #7ae5c0);
    @include media-breakpoint-down(md) {
      height: 800px !important;
      width: 875px;
      object-fit: cover;
    }
    width: 2440px;
    height: 2024px;
  }

  .description.font-description {
    margin: 0 0 8px;
  }

  .left-part {
    align-self: center;
    .main-text {
      .description {
        margin: 16px 0 16px;
      }
    }
  }
}
</style>
