<template>
  <div>
    <home-default class="scroll-item"></home-default>
    <home-vuestic class="scroll-item"></home-vuestic>
    <home-safeguest class="scroll-item"></home-safeguest>
    <home-sourcerer class="scroll-item"></home-sourcerer>
    <home-epic-spinners class="scroll-item"></home-epic-spinners>
  </div>
</template>

<script>
  import HomeDefault from './HomeDefault'
  import HomeVuestic from './HomeVuestic'
  import HomeEpicSpinners from './HomeEpicSpinners'
  import HomeHappiful from './HomeHappiful'
  import HomeSafeguest from './HomeSafeguest'
  import HomeSourcerer from './HomeSourcerer'

  export default {
    components: {
      HomeSourcerer,
      HomeHappiful,
      HomeSafeguest,
      HomeEpicSpinners,
      HomeVuestic,
      HomeDefault
    },
    name: 'home',
    head: {
      title: {inner: 'Home'}
    }
  }
</script>

<style lang="scss" scoped>
  .scroll-item {
    float: left;
  }
</style>
