<template>
  <div class="homepage-epicspinners">
    <div class="background-image"></div>
    <div class="left-part">
      <div class="main-text">
        <h1>Epic Spinners</h1>
        <div class="description">
          <h4>Loading animations collection</h4>
        </div>
      </div>
      <a href="https://github.com/epicmaxco/epic-spinners" target="_blank" class="oblique oblique-blue about-link">
        <div class="oblique-container">
          <div class="oblique-text">
            <span class="font-main" style="color: #f26564;">View on github</span>
          </div>
        </div>
      </a>
      <p class="font-description description" style="text-transform: none">
        <span class="blockquote">“</span>
        Amazing work, I love it! This kind of projects really prove when developers love their job”
      </p>
      <p class="font-main-bold" style="text-transform: none">Reddit community</p>
    </div>
    <img class="image d-none d-lg-block" src="/static/home-epic-spinners.png">
    <img class="mobile-image d-block d-lg-none" src="/static/mobile-home-epic-spinners.png">
    <img class="home-number d-none d-lg-block" src="/static/05.png">
  </div>
</template>

<script>
  export default {
    name: 'home-epic-spinners'
  }
</script>

<style lang="scss" scoped>
  .homepage-epicspinners{
    .background-image {
      background-image: linear-gradient(121deg, #951a3e, #24495c);
    }
    .mobile-image {
      top: 4vh;
      object-fit: scale-down;
      overflow: hidden;
    }
    @include media-breakpoint-down(md) {
      overflow: hidden;
      align-items: flex-end;
      padding-bottom: 8em;
      height:567px;
    }

    .description.font-description {
      margin: 0 0 8px;
    }

    .left-part {
      align-self: center;
      .main-text {
        .description {
          margin: 16px 0 16px;
        }
      }
    }
  }
</style>
