<template>
  <div class="homepage-vuestic">
    <div class="background-image"></div>
    <div class="left-part">
      <div class="main-text">
        <h1>Vuestic</h1>
        <div class="description">
          <h4>Open Source Vue.js admin template</h4>
        </div>
      </div>
      <div class="left-part__controls">
        <a
          href="https://github.com/epicmaxco/vuestic-admin"
          target="_blank"
          class="oblique oblique-blue about-link"
          style="margin-right: 10px;"
        >
          <div class="oblique-container">
            <div class="oblique-text">
              <span class="font-main" style="color: #5ee4ad;">View on github</span>
            </div>
          </div>
        </a>
      </div>
      <p class="font-description description" style="text-transform: none">
        <span class="blockquote">“</span>
        The opening played was the King's Indian attack where we had a case of opposite sides castling.”
      </p>
      <p class="font-main-bold" style="text-transform: none">Steven Gustaffson, CEO</p>
    </div>
    <img class="image d-none d-lg-block" src="/static/vuestic-2.0/vuestic-home.png">
    <img class="mobile-image d-block d-lg-none" src="/static/vuestic-2.0/vuestic-home.png">
    <img class="home-number d-none d-lg-block" src="/static/02.png">
  </div>
</template>

<script>
  export default {
    name: 'home-vuestic'
  }
</script>

<style lang="scss" scoped>
  .homepage-vuestic {
    .background-image {
      background-image: linear-gradient(121deg, #2994ff, #154172);
    }
    .mobile-image {
      bottom: 0;
    }
    @include media-breakpoint-down(md) {
      .mobile-image {
        width: 90%;
        height: auto;
        object-fit: scale-down;
        overflow: hidden;
      }
      align-items: flex-end;
      padding-bottom: 8em;
    }

    .description.font-description {
      margin: 0 0 8px;
    }

    .left-part {
      align-self: center;

      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 50px;
      }

      &__controls {
        margin-bottom: 24px;

        .oblique-container {
          display: inline-block;
        }
      }

      .main-text {
        .description {
          margin: 16px 0 16px;
        }
      }
    }
  }
</style>
