<template>
  <scroll class="layout bg-transparent" :class="'background-purple'">
    <template slot="head">
      <nav class="navbar bg-transparent">
        <img class="logo" src="/static/logo.svg" @click="$router.push({name: 'Home'})">
        <ul class="navbar-nav d-none d-lg-flex">
          <li class="nav-item">
            <router-link :to="{name: 'Home'}"
                         class="nav-link font-small"
                         :class="{active: $route.name === 'Home'}"
            >Home</router-link>
          </li>
          <li class="nav-item point">•</li>
          <li class="nav-item">
            <router-link :to="{name: 'Works'}"
                         class="nav-link font-small"
                         :class="{active: $route.name === 'Works'}"
            >Work</router-link>
          </li>
          <li class="nav-item point">•</li>
          <li class="nav-item">
            <router-link :to="{name: 'About'}"
                         class="nav-link font-small"
                         :class="{active: $route.name === 'About'}"
            >About</router-link>
          </li>
          <li class="nav-item point">•</li>
          <li class="nav-item contact">
            <router-link :to="{name: 'Contact'}" class="oblique  font-small">
              <div class="oblique-container">
                <div class="oblique-text">
                  <span>Contact</span>
                </div>
              </div>
            </router-link>
          </li>
        </ul>
        <div class="d-lg-none menu-container" @click="toggleDropdown">
          <div class="menu-icon">
            <div class="shape" style="align-self: flex-end"></div>
            <div class="shape" style="align-self: center"></div>
            <div class="shape" style="align-self: flex-start"></div>
          </div>
          <div class="dropdown-header">
            <span class="font-main">Menu</span>
          </div>
        </div>
        <div class="darken-layer" :class="{visible: dropdownOpened}"></div>
        <div class="dropdown-menu d-block" :class="{'opened': dropdownOpened}">
          <router-link :to="{name: 'Home'}"
                       class="dropdown-item font-main"
                       :class="{active: $route.name === 'Home'}">
            <span>Home</span>
          </router-link>
          <router-link :to="{name: 'Works'}"
                       class="dropdown-item font-main"
                       :class="{active: $route.name === 'Works'}">
            <span>Work</span>
          </router-link>
          <router-link :to="{name: 'About'}"
                       class="dropdown-item font-main"
                       :class="{active: $route.name === 'About'}">
            <span>About</span>
          </router-link>
          <router-link :to="{name: 'Contact'}"
                       class="dropdown-item font-main"
                       :class="{active: $route.name === 'Contact'}">
            <span>Contact</span>
          </router-link>
        </div>
      </nav>
    </template>
    <template slot="content">
      <div class="layout-content">
        <router-view></router-view>
      </div>
    </template>
  </scroll>
</template>

<script>
  import Scroll from './Scroll'

  export default {
    components: {Scroll},

    name: 'layout',

    data () {
      return {
        dropdownOpened: false
      }
    },

    methods: {
      toggleDropdown () {
        if (!this.dropdownOpened) {
          let listener = () => {
            this.dropdownOpened = false
            document.removeEventListener('click', listener)
          }
          setTimeout(() => { document.addEventListener('click', listener) })
          this.dropdownOpened = true
        } else {
          this.dropdownOpened = false
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

  .layout {
    width: 100%;
    min-height: 100%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    &.background-purple {
      background-image: linear-gradient(121deg, #aa2883, #5e56a3 53%, #20257e);
    }
    .logo {
      height: 2em;
      &:hover {
        cursor: pointer;
      }
    }
    .contact {
      .oblique-container {
        .oblique-text {
          font-size: 1em;
        }
        padding: .5em 1.125em;
      }
      a {
        color: #3c3d3e;
      }
    }

    .navbar {
      margin-top: 2em;
      position: absolute;
      width: 100%;
      background-color: transparent;
      z-index: 5;
      align-items: center;
      padding: 0 2em 0 3.5em;
      @include media-breakpoint-down(md) {
        padding: 0 5% 0;
        .dropdown-header {
          padding: 0;
        }
      }
      .navbar-nav {
        list-style-type: none;
        flex-direction: row;
        .nav-item {
          display: flex;
          align-items: center;
          padding: 0 5px;
          .nav-link {
            color: white;
            opacity: .5;
            transition: opacity .2s ease;
            padding: 0;
            &:hover {
              opacity: .8;
            }
            &.active {
              opacity: 1;
            }
          }
        }
        .point {
          opacity: .5;
        }
      }
    }

    .menu-container {
      display: flex;
      align-items: center;
      .menu-icon {
        margin-right: 8px;
        width: 30px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .shape {
          background: white;
          width: 26px;
          height: 4px;
          border-radius: 2px;
        }
      }
    }

    .dropdown-header {
      color: white;
      text-transform: uppercase;
      cursor: pointer;
    }
    .darken-layer {
      display: none;
      z-index: 10;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: #211f26;
      opacity: .75;
      &.visible {
        display: block;
      }
    }
    .dropdown-menu {
      z-index: 11;
      width: 100%;
      display: none !important;
      top: 140%;
      padding: 0;
      border-radius: 0;
      box-shadow: 0 2px 13px 0 rgba(139, 36, 160, 0.5);
      &.opened {
        display: block !important;
      }
      .dropdown-item {
        padding: 20px 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active {
          background-color: #9c3189;
        }
      }
    }

    .layout-content {
      @include media-breakpoint-down(md) {
        overflow: hidden;
      }
      overflow: hidden;
      flex: 1;
      display: flex;
      align-items: stretch;
    }
  }
</style>
