<template>
  <div class="subscribe">
    <div class="row">
      <div class="main-text col-lg-4">
        <h1>Subscribe</h1>
        <h4>to get the latest news</h4>
      </div>

      <form
        action="https://epicmax.us17.list-manage.com/subscribe/post?u=00c2b8f17c58d4f828e037728&amp;id=b8ba23dd09"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate form col-lg-8"
        target="_blank"
        v-form="setForm"
        novalidate
      >
        <h5 class="form-description">Epicmax stories. Vue.js articles. Cool open source projects. Twice a month.</h5>
        <input
          type="email"
          value=""
          name="EMAIL"
          class="email"
          id="mce-EMAIL"
          placeholder="Your email address"
          required
        >
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input
            type="text"
            name="b_00c2b8f17c58d4f828e037728_b8ba23dd09"
            tabindex="-1"
            value=""
          >
        </div>
        <div class="oblique oblique-blue subscribe-btn" @click="submitForm">
          <div class="oblique-container">
            <div class="oblique-text">
              <span class="font-main">Subscribe</span>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</template>

<script>
  export default {
    name: 'NewsletterSubsctription',

    data () {
      return {
        form: null
      }
    },

    directives: {
      form: {
        inserted (el, binding) {
          binding.value(el)
        }
      }
    },

    methods: {
      setForm (form) {
        this.form = form
      },
      submitForm () {
        this.form.submit()
      }
    },

    head: {
      title: {inner: 'Subscribe'}
    }
  }
</script>

<style lang="scss" scoped>
  .subscribe {
    padding-top: 4em;
    display: flex;
    width: 100%;
    height: 100vh;
    .row {
      margin: 0;
      width: 100%;
      height: 100%;
    }
    .main-text {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 5%;
      @include media-breakpoint-down(md) {
        align-items: center;
      }
    }
    .social {
      .social-link {
        color: #80d3f9;
        font-size: 1.125em;
        text-decoration: none;
        text-transform: none;
      }
    }
    .form-description {
      font-size: 1.5rem;
      @include media-breakpoint-down(sm) {
        font-size: 1.2rem;
      }
      margin-bottom: .6em;
    }
    .form {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      @include media-breakpoint-down(md) {
        height: 200px;
        text-align: center;
        .subscribe-btn {
          display: flex;
          justify-content: center;
        }
      }
      @include media-breakpoint-up(lg) {
        padding-right: 10%;
        padding-left: 10%;
        top: -1rem;
      }
      @include media-breakpoint-up(xl) {
        padding-left: 15px;
        top: 0;
      }
      input, textarea {
        font-size: 1.125em;
        padding: 11px 0 15px 15px;
        background-color: rgba(177, 223, 241, 0.2);
        color: white;
        height: 3em;
        border: none;
        &::placeholder {
          color: rgba(255, 255, 255, .5);
        }
      }
      .subscribe-btn {
        justify-self: right;
        margin-top: 1.2em;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
</style>
