<template>
  <div>
    <slot name="head"></slot>
    <template v-if="$route.name === 'Home' && isScreenSizeLg()">
      <div @mousewheel.prevent="onScroll" class="scroll">
        <router-view class="scroll-area"
                     :style="{transition: 'transform ' + animationDuration + 'ms',
                     transform: 'translateX(-' + currentNumber * 100 + 'vw)'}">
        </router-view>
      </div>
      <div class="scroll-controller">
        <div class="scroll-controller-item"
             :class="{active: i-1 === currentNumber}"
             @click="() => { setCurrentNumber(i-1) }"
             v-for="i in numberOfItems"
        ></div>
      </div>
    </template>
    <slot name="content" v-else></slot>
  </div>
</template>

<script>
  import Home from './Home'

  export default {
    name: 'scroll',

    components: {
      Home
    },

    props: ['backgroundImage'],

    data () {
      return {
        currentNumber: 0,
        margin: 0,
        framePerSeconds: 24,
        isAnimationRunning: false,
        animationDuration: 900,
        scrollingDelay: 1500,
        timeStamp: 0,
        numberOfItems: 5
      }
    },

    methods: {
      isScreenSizeLg () {
        return window.matchMedia('(min-width: 992px)').matches
      },
      onScroll ({deltaY}) {
        if (!this.isAnimationRunning) {
          this.isAnimationRunning = true
          this.setCurrentNumber(this.currentNumber + Math.sign(deltaY))
          setTimeout(() => {
            this.isAnimationRunning = false
          }, this.scrollingDelay)
        }
      },
      setCurrentNumber (number) {
        if (number < this.numberOfItems && number >= 0) {
          this.currentNumber = number
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  $pages: 5;

  .scroll-controller {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    opacity: .5;
    .scroll-controller-item {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: solid #fff 1px;
      margin-right: 6px;
      margin-left: 6px;
      &.active {
        background: #fff;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .scroll {
    overflow: hidden;
    background-color: transparent;
    z-index: 1;
  }

  .scroll-area {
    max-height: 100vh;
    display: inline-block;
    float: left;
    width: 500vw;
  }

</style>
