<template>
  <div class="works">
    <div class="row">
      <div class="col-lg-4">
        <div class="main-text col-lg-4">
          <h1>Works</h1>
          <h4>Every product matters</h4>
        </div>
      </div>
      <div class="works-container col-lg-8">
        <div class="work">
          <div class="work-img">
            <img src="/static/vuestic-work.png">
          </div>
          <div class="description">
            <h2>Vuestic</h2>
            <h4>Open source vue.js admin theme</h4>
            <a href="https://github.com/epicmaxco/vuestic-admin" target="_blank"
               class="oblique oblique-blue about-link">
              <div class="oblique-container">
                <div class="oblique-text">
                  <span class="font-main">View on github</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="work">
          <div class="work-img">
            <img src="/static/epicspinners-work.png">
          </div>
          <div class="description">
            <h2>Epic Spinners</h2>
            <h4>Loading animations collection</h4>
            <a href="https://github.com/epicmaxco/epic-spinners" target="_blank"
               class="oblique oblique-blue about-link">
              <div class="oblique-container">
                <div class="oblique-text">
                  <span class="font-main">View on github</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="work">
          <div class="work-img">
            <img src="/static/sourcerer-work.png">
          </div>
          <div class="description">
            <h2>Sourcerer</h2>
            <h4>Visual profile for software engineers</h4>
            <a href="https://sourcerer.io/" target="_blank" class="oblique oblique-blue about-link">
              <div class="oblique-container">
                <div class="oblique-text">
                  <span class="font-main">View Live</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="work">
          <div class="work-img">
            <img src="/static/safeguest-work.png">
          </div>
          <div class="description">
            <h2>Safeguest</h2>
            <h4>Vue.js hybrid mobile app</h4>
            <a href="https://www.safeguest.com/" target="_blank" class="oblique oblique-blue about-link">
              <div class="oblique-container">
                <div class="oblique-text">
                  <span class="font-main">View live</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="work">
          <div class="work-img">
            <img src="/static/happiful-work.png">
          </div>
          <div class="description">
            <h2>Happiful</h2>
            <h4>Ios app UX/UI design</h4>
            <a href="https://xx13.github.io/happiful/" target="_blank" class="oblique oblique-blue about-link">
              <div class="oblique-container">
                <div class="oblique-text">
                  <span class="font-main">Read More</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'works',
  head: {
    title: { inner: 'Works' }
  }
}
</script>

<style lang="scss" scoped>
.works {
  display: flex;
  text-transform: uppercase;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  padding-top: 4em;
  padding-left: .5em;

  @include media-breakpoint-down(lg) {
    height: 100%;
  }

  h1 {
    margin-bottom: .25em;
  }

  .row {
    width: 100%;
    margin: 0;
  }

  .main-text {
    padding-left: 5%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include media-breakpoint-up(lg) {
      position: fixed;
      top: 40%;
    }

    @include media-breakpoint-down(md) {
      padding-left: 5%;
      align-items: center;
    }
    .h4 {
      margin-bottom: 24px;
    }
  }
  .works-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @include media-breakpoint-only(xs) {
      align-items: flex-start;
      .work {
        width: 100%;
      }
    }
    .work {
      margin-top: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(lg) {
        width: 70%;
      }
      @include media-breakpoint-only(xs) {
        margin-top: 20px;
        width: 100%;
      }
      .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .oblique {
        margin-top: 1em;
      }
    }

    .work-img {
      width: 28%;
      max-width: 285px;
      min-width: 80px;
      margin-right: 3em;
      @include media-breakpoint-down(lg) {
        width: 25%;
      }
      @include media-breakpoint-down(md) {
        width: 22%;
      }
      img {
        width: 100%;
        height: auto;
        max-height: 100%
      }
    }
  }
}
</style>
