<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  import Layout from './components/Layout'

  export default {
    components: {Layout},
    name: 'app'
  }
</script>

<style lang="scss">
  @import './sass/main';

  html, body {
    height: 100%;
    margin: 0;
  }

  #app {
    height: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
  }
</style>
